
<div class="row">
  <div class="container">
    <form autocomplete="off" [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="name">Nome Completo</label>
          <input type="text" class="form-control" id="name" formControlName="name"/>
          <div *ngIf="submitted && form.name.errors" class="invalid-feedback d-block">
              <div *ngIf="form.name.errors.required">Informe o nome do Cliente</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="documentCode">Número BI</label>
          <input type="text" class="form-control" id="documentCode" formControlName="documentCode"/>
          <div *ngIf="submitted && form.documentCode.errors" class="invalid-feedback d-block">
              <div *ngIf="form.documentCode.errors.required">Informe o número de BI</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" />
          <div *ngIf="submitted && form.email.errors" class="invalid-feedback d-block">
              <div *ngIf="form.email.errors.required">Informe o Email Cliente</div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="contact">Contacto</label>
          <input type="number" class="form-control" id="contact" formControlName="contact" />
          <div *ngIf="submitted && form.contact.errors" class="invalid-feedback d-block">
              <div *ngIf="form.contact.errors.required">Informe o contacto Cliente
              </div>
          </div>
        </div>
      </div>


      <div class="form-row">
          <div class="form-group col-md-7">
            <label for="employer">Instituição Empregadora</label>
            <input type="text" class="form-control" id="employer" formControlName="employer" />
            <div *ngIf="submitted && form.employer.errors" class="invalid-feedback d-block">
                <div *ngIf="form.employer.errors.required">Informe a Instituição Empregadora</div>
            </div>
          </div>
          <div class="form-group col-md-5">
            <label for="code">Código</label>
            <input type="text" class="form-control" id="code" formControlName="code" />
            <div *ngIf="submitted && form.code.errors" class="invalid-feedback d-block">
                <div *ngIf="form.code.errors.required">Informe o Código do Cliente</div>
            </div>
          </div>
        </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-sm">{{ editMode?'Actualizar':'Cadastrar'}}</button>
        <button class="btn btn-secondary btn-sm" type="reset" (click)="onReset(edit)">Cancelar</button>
        <button type="button" class="btn btn-info btn-sm" (click)="back()" >Voltar</button>
      </div>
    </form>
  </div>
</div>
